/* ----------Global Styles Start------------ */


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat&family=Playfair+Display&family=Poppins:wght@400;700&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

/* Font size and weight */
h1 {
    font-size: 4rem;
    font-weight: 700;
    padding: 1rem 0rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 0rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 0rem;
}

p {
    font-size: 1rem;
    padding: 0.5rem 0rem;
}

/* Global anchor tags */
a:link {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: aqua;
}

/* Primary buttons */
.primary-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: black;
    border-radius: 0.5rem;
}

.primary-button a:visited {
    color: white;
}

.primary-button a:link {
    color: aqua;
}

.primary-button a:hover {
    color: aqua;
}



/* Unordered list */

ul {
    list-style: none;
}

.wide-text {
    font-size: 0.8rem;
    padding-bottom: 3rem;
    max-width: 80%;
}

/* ----------Global Styles End------------ */


/* ----------Header Styles Start------------ */


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    padding: 1rem 0rem;
}

header .menu {
    display: none;
}

header img {
    width: 10%;
}

.search-bar {
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
}

.search-bar input {
    border: none;
    width: 15rem;
    height: 2rem;
}



/* ----------Header Styles End------------ */



/* ----------Section One Styles Start------------ */


.section-one-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(180deg, #02B5EA 0%, rgba(2, 181, 234, 0.15) 100%);
}

.section-one-content-one {
    padding-left: 10rem;
    min-width: 45%;
    max-width: 50%;
}

.section-one-content-one p {
    padding-bottom: 3rem;
}

.section-one-content-two {
    position: relative;

}

.section-one-img-one {
    width: 15%;
}


.section-one-bg {
    width: 90%;
    height: 80%;
    top: 0;
    left: 0;
}

.section-one-img-two {
    width: 60%;
    position: absolute;
    z-index: 2;
    top: 14rem;
    left: 6rem;
}

.section-one-img-three {
    width: 25%;
    z-index: 2;
    position: absolute;
    transform: rotate(90deg);
    top: 3rem;
    left: 28.8rem;
}

.section-one-img-four {
    width: 70%;
    position: absolute;
    z-index: 3;
    top: 3rem;
    left: 5.5rem;
}

.section-one-img-five {
    width: 20%;
    position: absolute;
    z-index: 4;
    top: 6rem;
    left: 9rem;
    transform: rotate(-55deg);
}

.section-one-img-six {
    width: 20%;
    position: absolute;
    z-index: 4;
    top: 24rem;
    left: 20rem;
}


/* ----------Section One Styles End------------ */




/* ----------Section Two Styles Start------------ */

.section-two-intro {
    position: relative;
    padding: 10rem 0rem 10rem 10rem;
}

.section-two-intro h2 {
    max-width: 60%;
}

.section-two-img-three {
    width: 30%;
    position: absolute;
    top: 18rem;
    left: 58.5rem;
}


.section-two-container {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.section-two-content-one {
    padding-left: 10rem;
    position: relative;
}

.section-two-bg {
    background-color: #FFE9F4;
    border-radius: 0.8rem;
}

.section-two-img-one {
    width: 25%;
    position: absolute;
    top: 9rem;
    left: 13rem;
    transform: rotate(-20deg);
}

.section-two-img-two {
    width: 60%;
    position: absolute;
    top: -10rem;
    left: 15rem;
}




/* ----------Section Two Styles End------------ */





/* ----------Section Three Styles Start------------ */


.section-three-intro {
    text-align: center;
    max-width: 40%;
    margin: auto;
    padding: 10rem 0rem;
}

.section-three-container-one {
    display: flex;
    max-width: 85%;
    margin: auto;
    gap: 2rem;
}

.section-three-container-two {
    display: flex;
    max-width: 85%;
    margin: auto;
    gap: 2rem;
}

.stars {
    margin-bottom: 8rem;
}


.item-one {
    position: relative;
}

.item-two {
    position: relative;
}

.item-three {
    position: relative;
}

.item-four {
    position: relative;
}

.item-five {
    position: relative;
}

.item-six {
    position: relative;
}

.section-three-bg-one {
    background-color: #F8FFE3;
    border-radius: 0.8rem;
}

.section-three-bg-two {
    background-color: #FFE3E4;
    border-radius: 0.8rem;
}

.section-three-bg-three {
    background-color: #FFFBD6;
    border-radius: 0.8rem;
}

.section-three-bg-four {
    background-color: #FFEFE3;
    border-radius: 0.8rem;
}

.section-three-bg-five {
    background-color: #DDF6FF;
    border-radius: 0.8rem;
}

.section-three-bg-six {
    background-color: #E3FFF3;
    border-radius: 0.8rem;
}


.section-three-img-one {
    width: 90%;
    position: absolute;
    top: -6rem;
    left: 1.5rem;
}

.section-three-img-two {
    width: 75%;
    position: absolute;
    top: -6rem;
    left: 3rem;
}

.section-three-img-three {
    width: 75%;
    position: absolute;
    top: -6rem;
    left: 3rem;
}

.section-three-img-four {
    width: 75%;
    position: absolute;
    top: -6rem;
    left: 3rem;
}

.section-three-img-five {
    width: 95%;
    position: absolute;
    top: -6rem;
    left: 1rem;
}

.section-three-img-six {
    width: 68%;
    position: absolute;
    top: -5rem;
    left: 4rem;
}


.section-three-button {
    margin-left: 45%;
}

/* ----------Section Three Styles End------------ */




/* ----------Section Four Styles Start------------ */

.section-four {
    margin-top: 10rem;
}

.section-four h2 {
    text-align: right;
    margin-right: 12%;
    padding-bottom: 3rem;
}

.section-four-container {
    display: flex;
    gap: 2rem;
    max-width: 85%;
    margin: auto;
}


.section-four-bg-one {
    background-color: #EAFFFC;
    border-radius: 0.8rem;
}

.section-four-bg-two {
    margin-top: 6rem;
    background-color: #FFEAEC;
    border-radius: 0.8rem;
}

.section-four-content-one {
    position: relative;
}

.section-four-content-two {
    position: relative;
}

.section-four-img-one {
    position: absolute;
    top: -9rem;
    left: 0;
}

.section-four-img-two {
    position: absolute;
    top: -2rem;
    left: 4rem;
    width: 80%;
}

.slider {
    margin-top: 3rem;
    margin-bottom: 10rem;
    margin-left: 47%;
}

/* ----------Section Four Styles End------------ */



/* ----------Section Five Styles Start------------ */

.section-five {
    background-color: #80E2FF;
    padding: 10rem 7rem 5rem 7rem;
}

.section-five h2 {
    font-size: 2.4rem;
    padding-bottom: 4rem;
}

.section-five h3 {
    padding: 0;
}

.section-five p {
    font-size: 1.1rem;
}

.section-five-container {
    display: flex;
    gap: 10rem;
}

.signature {
    margin-top: 3rem;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid #33D1FF;
}

.signature p {
    font-size: 0.8rem;
}


.section-five-content-two {
    position: relative;
}

.section-five-bg {
    background-color: #FFD36A;
    border-radius: 0.8rem;
}

.section-five-img {
    position: absolute;
    top: -5rem;
    left: 0rem;
    height: 115%;
    object-fit: cover;
}

/*----------Section Five Styles End------------ */





/*----------Section Six Styles Start------------ */

.section-six {
    background-color: #FFD36A;
    text-align: center;
    padding: 7rem 0rem;
    background-image: url('imgs/s1-i5.png');
    background-repeat: no-repeat;
    background-position: center;
}

.section-six-container {
    max-width: 40%;
    margin: auto;
}

.section-six p {
    padding: 2rem 0rem;
}

/*----------Section Six Styles End------------ */



/*----------Footer Styles Start------------ */

.footer{
    background-color: #FFF7E3;
}

.footer-container{
    display: flex;
    gap: 4rem;
    align-items: center;
    padding: 5rem 5rem 5rem 8rem;
}

.links{
    display: flex;
    gap: 1rem;
    padding: 2rem 0rem;
}

.footer h3{
    padding-bottom: 2rem;
}

.footer p{
    padding-top: 2rem;
}

.footer-logo-img{
    width: 15%;
}


.footer-bg{
    background-color: #DDF6FF;
    border-radius: 0.8rem;
}


.chips{
    position: relative;
    top: 0;
    left: 0;
}
.footer-img-one{
    width: 30%;
    position: absolute;
    top: 3rem;
    left: 1rem;
}
.footer-img-two{
    width: 50%;
    position: absolute;
    top: 14rem;
    left: 2.5rem;
}
.footer-img-three{
    width: 20%;
    position: absolute;
    top: 0;
    left: 28.5rem;
}
.footer-img-four{
    width: 40%;
    position: absolute;
    top: 4rem;
    left: 8rem;
    transform: rotate(-40deg);
}
.footer-img-five{
    width: 55%;
    position: absolute;
    top: 2rem;
    left: 12rem;
    transform: rotate(52deg);
}
.footer-img-six{
    width: 45%;
    position: absolute;
    top: 7rem;
    left: 15rem;
}
/*----------Footer Styles End------------ */







/* --------------  Responsive Layout for 720px --------------- */

@media(max-width: 720px) {
    /*------------Global------------ */
    h1{
        font-size: 2.6rem;
    }
    h2{
        font-size: 2.2rem;
    }
    h3{
        font-size: 1.4rem;
    }

    /* ---------Header----------- */
    header {
        max-width: 95%;
        margin: auto;
        padding: 0.3rem 0rem;
    }

    header a,
    .user-logo,
    .search-bar {
        display: none;

    }

    header .primary-button {
        background-color: white;
    }

    header .menu {
        display: inline-block;
    }


    /* -----------Section One---------- */
    .section-one-container {
        flex-direction: column;
    }

    .section-one-content-one {
        order: 2;
        min-width: 70%;
        padding: 1rem 1rem;
    }

    .section-one-content-two {
        order: 1;
        padding: 2rem 2rem;
    }

    .section-one-img-three{
        left: 31rem;
    }

    .section-one-img-six{
        top: 25rem;
        left: 22rem;
    }


    /* -----------Section Two---------- */
    .section-two-container {
        flex-direction: column;
    }

    .section-two-intro{
        padding: 5rem 0rem 5rem 5rem;
        max-width: 90%;
    }

    .section-two-intro h2{
        max-width: 80%;
    }

    .section-two-img-three{
        top: 10rem;
        left: 36rem;
    }


    .section-two-content-one{
        padding-left: 0rem;
    }

    .section-two-bg {
        width: 100%;
    }

    .section-two-img-one {
        width: 30%;
        top: 12rem;
        left: 4rem;
    }

    .section-two-img-two {
        width: 70%;
        top: -5rem;
        left: 6rem;
    }

    .section-two-img-three {
        width: 20%;
    }

    .section-two-content-two{
        max-width: 70%;
        margin: auto;
    }


    /* ---------Section Three----------- */

    .section-three-intro{
        max-width: 80%;
        padding: 6rem 0rem 10rem 0rem;
    }

    .section-three-container-one{
        flex-direction: column;
    }
    .section-three-container-two{
        flex-direction: column;
    }

    .section-three-bg-one{
        width: 95%;
        height: 80%;
    }
    .section-three-bg-two{
        width: 95%;
        height: 80%;
    }
    .section-three-bg-three{
        width: 95%;
        height: 80%;
    }
    .section-three-bg-four{
        width: 95%;
        height: 80%;
    }
    .section-three-bg-five{
        width: 95%;
        height: 80%;
    }
    .section-three-bg-six{
        width: 95%;
        height: 80%;
    }


    .section-three-img-one{
        width: 80%;
        left: 3rem;
    }
    .section-three-img-two{
        width: 70%;
        left: 5rem;
    }
    .section-three-img-three{
        width: 70%;
        left: 5rem;
    }
    .section-three-img-four{
        width: 65%;
        left: 6rem;
    }
    .section-three-img-five{
        width: 80%;
        left: 4rem;
    }
    .section-three-img-six{
        width: 60%;
        left: 7.5rem;
    }

    .section-three-button{
        margin-left: 40%;
    }



    /* ------------Section Four----------- */

    .section-four-container{
        max-width: 80%;
        margin: auto;
    }
    .section-four-content-two{
        display: none;
    }

    .section-four h2{
        padding-bottom: 10rem;
        text-align: left;
        margin-left: 10%;
    }

    .section-four-bg-one{
        width: 100%;
        height: 70%;
    }

    .section-four-img-one{
        width: 90%;
        left: 2.5rem;
    }



    /* ------------Section Five----------- */

    .section-five-container{
        flex-direction: column;
    }

    .section-five-content-one{
        order: 2;
    }
    .section-five-content-two{
        order: 1;
    }


    /* ------------Section Six----------- */

    .section-six-container{
        max-width: 60%;
    }



    /* ------------Footer----------- */

    .footer-container{
        flex-direction: column;
        padding: 5rem 5rem;
        align-items: flex-start;
    }

    .chips{
        order: 1;
    }

    .contact{
        order: 2;
    }

    .footer-bg{
        width: 100%;
    }


    .footer-logo-img{
        width: 25%;
    }

    .links{
        flex-direction: column;
    }
}





/* --------------  Responsive Layout for 576px --------------- */

@media(max-width: 576px) {
    /* ---------Globals---------- */
    h2{
        font-size: 1.8rem;
    }

    /* -----------Section One----------- */
    .section-one-img-two {
        width: 45%;
        left: 7.5rem;
    }

    .section-one-img-three {
        width: 22%;
        top: 5rem;
        left: 24.5rem;
    }

    .section-one-img-four {
        width: 60%;
        top: 5rem;
        left: 7rem;
    }

    .section-one-img-five {
        width: 15%;
        top: 7rem;
        left: 9.5rem;
    }

    .section-one-img-six {
        width: 15%;
        top: 21rem;
        left: 18rem;
    }

    .section-one-content-one h1 {
        font-size: 2.8rem;
    }

    .section-one-content-one p {
        font-size: 0.9rem;
    }


    /* -----------Section Two----------- */

    .section-two-img-three{
        width: 30%;
        top: 8rem;
        left: 26rem;
    }

    .section-two-content-one{
        max-width: 90%;
        margin: auto;
    }



    /* ------------Section Three------------ */

    .section-three-container-one{
        max-width: 90%;
    }
    .section-three-container-two{
        max-width: 90%;
    }



    /* ------------Section Four------------ */

    .section-four-container{
        max-width: 90%;
    }

    .section-four-img-one{
        top: -7rem;
        left: 1.5rem;
    }
    /* ------------Section Five------------ */

    .section-five{
        padding: 10rem 3rem 10rem 3rem;
    }


    /* ------------Footer------------ */

    .footer-container{
        padding: 5rem 3rem;
    }

    .footer-img-three{
        left: 24rem;
    }

    .footer-img-four{
        top: 4rem;
        left: 7rem;
    }

    .footer-img-five{
        top: 3rem;
        left: 11rem;
    }

    .footer-img-six{
        top: 8rem;
        left: 14rem;
    }
}




/* --------------  Responsive Layout for 375px --------------- */

@media(max-width: 375px) {
    /* ---------Globals---------- */


    /* ----------Section One--------- */
    .section-one-img-two {
        width: 45%;
        top: 9rem;
        left: 4.6rem;
    }

    .section-one-img-three {
        width: 22%;
        top: 3.2rem;
        left: 15.8rem;
    }

    .section-one-img-four {
        width: 60%;
        top: 3rem;
        left: 4.2rem;
    }

    .section-one-img-five {
        width: 15%;
        top: 4.5rem;
        left: 6.2rem;
    }

    .section-one-img-six {
        width: 14%;
        top: 13rem;
        left: 12rem;
    }

    .section-one-content-one h1 {
        font-size: 2rem;
    }

    .section-one-content-one p {
        font-size: 0.7rem;
    }

    .section-one-content-one {
        min-width: 80%;
        padding: 0.5rem 0.5rem;
    }


    /* -----------Section Two------------ */

    .section-two-img-three{
        left: 17rem;
    }

    .section-two-bg{
        height: 100%;
    }

    .section-two-img-one{
        top: 5rem;
        left: 2.5rem;
    }

    .section-two-img-two{
        left: 4rem;
    }

    .wide-text{
        max-width: 90%;
    }


    /* -----------Section Three------------ */

    .section-three-img-one{
        left: 2.5rem;
    }
    .section-three-img-two{
        left: 3rem;
    }
    .section-three-img-three{
        left: 3rem;
    }
    .section-three-img-four{
        left: 4rem;
    }
    .section-three-img-five{
        left: 2rem;
    }
    .section-three-img-six{
        left: 4rem;
    }


    .section-three-button{
        margin-left: 30%;
    }



    /* -----------Section Four------------ */

    .section-four h2{
        padding-bottom: 7rem;
    }

    .section-four-img-one{
        top: -4rem;
    }



    /* -----------Section Five------------ */

    .section-five{
        padding: 6rem 1rem 6rem 1rem;
    }

    .section-five-bg{
        width: 100%;
    }


    /* -----------Footer------------ */

    .footer-container{
        padding: 5rem 1rem;
    }
    .footer-bg{
        height: 100%;
    }


    .footer-img-one{
        top: 1.5rem;
    }
    .footer-img-two{
        top: 9rem;
        left: 2rem;
    }
    .footer-img-three{
        left: 17rem;
    }
    .footer-img-four{
        top: 2rem;
        left: 5rem;
    }
    .footer-img-five{
        top: 1.5rem;
        left: 8rem;
    }
    .footer-img-six{
        top: 4rem;
        left: 9rem;
    }

}